body {
  padding-top: 70px;
}
#bannerImageContainer{
  padding:  0;
  height: 330px;
  overflow: hidden;
}
#bannerImage{
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.thumbnail img {
  height: 250px;
  width: 100%;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}